In [20]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd

In [21]:
from webdriver_manager.chrome import ChromeDriverManager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [C:\Users\sdles\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

In [22]:
# URL of page to be scraped
# url = 'https://mars.nasa.gov/news/8770/nasas-perseverance-rover-will-peer-beneath-mars-surface/'
url = 'https://mars.nasa.gov/news/'

In [23]:
# Splinter
browser.visit(url)

In [24]:
html = browser.html

In [25]:
# Create BeautifulSoup object; parse with 'html.parser' Consider html5.parser
soup = BeautifulSoup(html, 'html.parser')

In [26]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [27]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
# Assign the text to variables that you can reference later.
# news_title = soup.h1.text.strip()
news_element = soup.select_one("ul.item_list li.slide")
news_title = news_element.find("div",class_ = "content_title").get_text()
news_paragraph = news_element.find("div",class_ = "article_teaser_body").get_text()
news_title
news_paragraph

"Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight."

In [28]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [29]:
# full_image = browser.find_by_id('full_image')
# full_image.click()
browser.find_by_id('full_image').click()

In [30]:
browser.is_element_present_by_text('more info',wait_time = 1)
browser.links.find_by_partial_text('more info').click()

In [31]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [32]:
# .lede is a shortcut for class = 'lede'
image_source = soup.select_one('figure.lede a img').get('src')
image_source

'/spaceimages/images/largesize/PIA18280_hires.jpg'

In [33]:
featured_image_url = 'https://www.jpl.nasa.gov' + image_source
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18280_hires.jpg'

In [16]:
# grab the first table we see on the page and bring in as dataframe (default function in pd)
tables = pd.read_html('https://space-facts.com/mars/')[0]
tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
tables.columns=['Parameter', 'Value']
tables.set_index('Parameter',inplace = True)
tables

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
tables.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
# Mars Hemisphere 0
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.find_by_css('div.item a.product-item h3')[0].click()

In [29]:
# Mars Hemisphere 1
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
hemi_links = browser.find_by_css('div.item a.product-item h3')

In [32]:
hemispheres = []
for i in range(len(hemi_links)):
    hemi_dict = {}
    browser.find_by_css('div.item a.product-item h3')[i].click()
    image_url = browser.links.find_by_text("Sample").first['href']
    title = browser.find_by_css("h2.title").text
    hemi_dict["image_url"] = image_url
    hemi_dict["title"] = title
    hemispheres.append(hemi_dict)
    browser.back()